:root {
  color-scheme: dark;
}

body {
  background-color: #272525;
}

h1 ul li {
  list-style: none;
  padding-left: 35px;
  padding-bottom: 5px;
  background-position: left center;
  background-image: url(./bullet.png);
  background-repeat: no-repeat;
  background-size: 27px;
}

h1 a {
  text-align: center;
  text-decoration: none;
  color: #b5e853;
  text-shadow: 0 1px 5px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
  letter-spacing: -1px;
  font-family: Monaco, Terminal, monospace;
}

h1 {
  margin: -20px;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

